.js-Accordion {
  margin: 0 auto;
  width: 60%;

  &-title {
    background: transparent;
    // border-bottom: 1px solid #ccc;
    border-top: 0;
    cursor: pointer;
    display: block;
    padding: 34px 0 22px 0;
    width: 100%;
    font-size: 24px;
    line-height: 30px;

    // &:first-child {
    //     border-top: 1px solid #ccc;
    // }
  }

  &-content {
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    //    padding-bottom: 22px;
    border-top: 0;
    height: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.25s linear;
  }

  button {
    display: flex;
    justify-content: space-between;

    img {
      padding-top: 15px;
    }
  }
}
