.js-Accordion {
  margin: 0 auto;
  width: 60%;

  &-title {
    background: transparent;
    // border-bottom: 1px solid #ccc;
    border-top: 0;
    cursor: pointer;
    display: block;
    padding: 34px 0 22px 0;
    width: 100%;
    font-size: 24px;
    line-height: 30px;

    // &:first-child {
    //     border-top: 1px solid #ccc;
    // }
  }

  &-content {
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    border-top: 0;
    height: 0;
    color: #363636;
    overflow: hidden;
    transition: all 0.25s linear;
  }

  button {
    display: flex;
    justify-content: space-between;

    img {
      padding-top: 15px;
      padding-left: 5px;
    }
  }
}

@media (max-width: 640px) {

  .js-Accordion { 
    width: 90%;

    &-title {
      text-align: left;
      padding-left: 25px;
    }

    &-content {
      padding-left: 45px;
      
      p {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 500px) {
  .js-Accordion { 

    &-title {
      font-size: 18px;
    }

    &-content {
      font-size: 16px;
    }
  }
}
