@import "../fonts/stylesheet.css";
@import "./accodion.scss";

@function img-url($folder, $imgName) {
  @return url("../img/" + $folder + "/" + $imgName + ".png") no-repeat center /
    cover;
}
@mixin section-size {
  width: 1140px;
  height: 700px;
}

@mixin section-pos($top, $left) {
  position: fixed;
  top: $top;
  left: $left;
}

@mixin img-size($width, $height) {
  min-width: $width + px;
  max-width: $width + px;
  min-height: $height + px;
  max-height: $height + px;
}
@mixin mobile-img($width, $height) {
  min-width: $width * 1%;
  max-width: $width * 1%;
  min-height: $height + px;
  max-height: $height + px;
}
@mixin resetMinMax {
  min-width: auto;
  max-width: none;
  min-height: auto;
  max-height: none;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

$text-white: #fff;
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  &.no-scroll {
    overflow: hidden;
  }
}

div,
p,
form,
input,
textarea,
a,
span,
button {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}
a,
a:hover,
a:active {
  text-decoration: none;
}

input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
}

.text-white {
  color: $text-white;
}

.text-uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-bg {
  position: fixed;
  @include img-size(1920, 1080);
  background: img-url("common", "bg");
}
.phone-big {
  position: fixed;
  @include img-size(144, 143);
  background: img-url("common", "phone-big");
  right: 50px;
  bottom: 50px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.1s ease-in-out;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  &.visible {
    opacity: 1;
    z-index: 10;
  }
}
/* First Screen */

.offer {
  @include section-size;
  @include section-pos(0%, 20%);
  //   background: #fff;
  font-size: 14px;
  background-position: top;

  .menu {
    position: absolute;
    width: 479px;
    height: 587px;
    filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.35));
    background-color: #fff;
    top: 20px;
    left: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    opacity: 0;
    transition: all 0.1s ease-in-out;

    &__icon {
      cursor: pointer;
    }

    &--open {
      opacity: 1;
      z-index: 1;
    }

    a {
      color: #000;
    }

    &__close {
      @include img-size(26, 26);
      position: absolute;
      display: block;
      background: img-url("common", "close-icon");
      top: 26px;
      right: 26px;
      cursor: pointer;
    }

    &__sections {
      padding: 52px 0 0 34px;
      p {
        cursor: pointer;
        margin-bottom: 28px;
      }
    }
    &__info {
      min-height: 218px;
      max-height: 218px;
      background-color: #ebeaea;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 34px;

      a {
        display: block;
        margin-bottom: 20px;
      }
    }

    &__mail {
      line-height: 18px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__header {
    display: flex;
    padding: 22px 27px 0;
    justify-content: space-between;

    img {
      height: 29px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    padding-left: 30px;

    a {
      font-weight: bold;
      font-size: 20px;
      line-height: 18px;
      letter-spacing: 0.25px;
      color: #000000;
    }
  }

  &__phone {
    margin-left: 20px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }

  &__title {
    margin-top: 24px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;

    span {
      display: block;
      font-weight: normal;
      font-size: 30px;
    }
  }
  .arrow__block {
    display: flex;
    margin-top: 45px;

    .analyse {
      @include img-size(346, 90);
      border-radius: 0 10px 10px 0;
      filter: drop-shadow(0 0 4.5px rgba(0, 0, 0, 0.35));
      background-image: linear-gradient(-90deg, #000f28 0%, #003b69 100%);
      padding: 30px 25px;
    }

    .based {
      width: 331px;
      height: 90px;
      border-radius: 10px;
      filter: drop-shadow(0 0 4.5px rgba(0, 0, 0, 0.35));
      background-image: linear-gradient(-90deg, #000f28 0%, #003b69 100%);
      padding: 30px 25px;
      margin-top: 125px;
    }

    .make {
      width: 346px;
      height: 90px;
      display: flex;
      align-items: center;
      border-radius: 10px 0 0 10px;
      filter: drop-shadow(0 0 4.5px rgba(0, 0, 0, 0.35));
      background-image: linear-gradient(-90deg, #836733 0%, #c29b5d 100%);
      padding-left: 25px;
      margin-top: 244px;

      img {
        width: 100px;
        height: 102px;
      }
    }

    .arrow {
      width: 72px;
      height: 147px;

      &__first {
        margin: 43px -5px 0 -10px;
      }

      &__second {
        margin: 163px -4px 0 -8px;
      }
    }
  }
  .order {
    align-items: flex-start;
    flex-direction: column;
    @include img-size(321, 91);
    background: img-url("first-screen", "order-bg");
    padding: 22px 30px;
    margin: -13px 0 0 -10px;

    span {
      display: block;
      font-weight: bold;
    }
  }
}

.how {
  @include section-size;
  @include section-pos(48.7%, 79.9%);
  //   background: #fff;
  background-position: top;
  overflow: hidden;

  h2 {
    font-size: 36px;
    position: absolute;
    top: 86px;
    right: 69px;
  }

  &__arrow-block {
    padding-top: 70px;
    display: flex;

    h4 {
      //   flex-basis: 110px;

      span {
        text-align: center;
        border-bottom: 4px solid white;
        font-size: 24px;
        line-height: 190%;
        color: white;
      }
    }

    p {
      display: flex;
      align-items: center;
    }

    .arrow {
      width: 41px;
      height: 109px;

      &__first {
        margin-top: 42px;
        margin-left: -5px;
        margin-right: -19px;
      }

      &__second {
        margin-top: 192px;
        margin-left: -2px;
        margin-right: -19px;
      }
    }

    &__analyse {
      @include img-size(386, 340);
      // background: img-url("how", "analyse-bg");
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -11px;

      h4 {
        width: 376px;
        height: 90px;
        border-radius: 0 10px 10px 0;
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.35));
        background-image: linear-gradient(-90deg, #836733 0%, #c29b5d 100%);
      }

      &__content {
        width: 324px;
        height: 251px;
        border-radius: 0 0 10px 10px;
        background-image: linear-gradient(-90deg, #836733 0%, #c29b5d 100%);
        flex-direction: column;
      }

      p {
        font-size: 18px;
        padding: 0 55px 0 32px;
        flex-basis: 128px;
        margin-top: -10px;
      }

      button {
        width: 283px;
        height: 84px;
        background: img-url("how", "analyse-button");
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
    }

    &__decide {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 148px;

      h4 {
        width: 336px;
        height: 90px;
        border-radius: 10px;
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.35));
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
      }

      &__content {
        width: 324px;
        height: 193px;
        border-radius: 0 0 10px 10px;
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
        flex-direction: column;
        justify-content: space-around;
        padding: 16px 32px 0 32px;
        margin-top: -12px;
      }

      p {
        font-size: 18px;
      }

      p:last-child {
        font-size: 12px;
        margin-left: 16px;
      }
    }

    &__introduction {
      // @include img-size(439, 266);
      // background: img-url("how", "introduction-bg");
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 299px;

      h4 {
        width: 394px;
        height: 93px;
        border-radius: 10px 0 0 10px;
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.35));
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
      }

      p {
        font-size: 18px;
        padding: 0px 22px;
        width: 324px;
        height: 169px;
        border-radius: 0 0 10px 10px;
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
        display: block;
        padding-top: 28px;
      }
    }
  }
}

.result {
  @include section-size;
  @include section-pos(89.4%, 139.9%);
  background: url("../../img/result/bg.svg") no-repeat center / cover;
  background-position: top;

  span {
    display: block;
  }

  h2 {
    padding-top: 36px;
    text-align: center;
  }

  .stage-text {
    @include img-size(108, 46);
    background: img-url("result", "stage");
    background-position: top left;
    background-size: auto;
    position: absolute;
    padding-left: 34px;
    top: 108px;
    left: 50px;
    font-size: 12px;
    color: #999999;
  }

  &__content {
    display: flex;
    justify-content: flex-end;

    p {
      font-size: 18px;
    }

    &__triangles {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 510px;
      justify-content: flex-end;
      font-size: 12px;
      font-weight: bold;

      &__rus {
        width: 266px;
        height: 96px;
        background: img-url("result", "rus");
        margin-bottom: 33px;
        padding: 34px 0 0 54px;
      }

      &__ekg {
        width: 190px;
        height: 83px;
        background: img-url("result", "ekg");
        margin-left: 10px;
        padding: 23px 0 0 45px;
      }
    }

    &__rhombus {
      width: 407px;
      height: 471px;
      margin-left: -30px;
      margin-right: -33px;
      background: img-url("result", "rhombus");
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      position: relative;

      .reject {
        @include img-size(188, 46);
        background: img-url("result", "reject");
        background-position: bottom right;
        padding-left: 13px;
        top: 18px;
        left: -40px;
        color: #999999;
      }

      .graphic {
        @include img-size(108, 46);
        background: img-url("result", "graphic");
        background-position: top left;
        padding-left: 34px;
        bottom: 58px;
        right: 0px;
      }

      .reject,
      .graphic {
        font-size: 12px;
        font-weight: normal;
        color: #999999;
        background-size: auto;
        position: absolute;
      }

      .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 220px;

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }

      p:last-child {
        flex-basis: 110px;
        display: flex;
        align-items: center;
      }
    }

    &__description {
      width: 400px;

      p {
        font-size: 14px;
        color: black;
        width: 413px;
        padding-right: 76px;
        margin-bottom: 16px;
      }

      .marked {
        width: 414px;
        padding-right: 176px;
        padding-left: 38px;
        position: relative;

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #345c88;
          position: absolute;
          left: 14px;
          top: 5px;
        }
      }
    }
  }
}

.functions {
  @include section-size;
  @include section-pos(141%, 199.5%);
  height: auto;
  display: flex;
  background-position: top;
  flex-wrap: wrap;
  //   background-color: #fff;

  h2 {
    font-size: 36px;
    padding: 44px 0 0 89px;
    color: white;
    width: 424px;
    height: 180px;
    background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
  }

  .title {
    font-size: 24px;
  }

  &__problems {
    margin-right: -76px;
    position: relative;
    z-index: 2;

    &__description {
      width: 466px;
      padding: 0 28px 0 42px;
      margin-left: 47px;
      border-radius: 0 0 10px 10px;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
      background-color: #fff;
      border: 1px solid #c6c6c6;

      .title {
        padding-top: 24px;
        margin-bottom: 32px;
      }

      p {
        margin-bottom: 24px;
      }
    }

    &__list > p {
      margin-bottom: 50px;
      font-weight: bold;
    }
  }

  &__choose {
    display: flex;
    align-items: center;
    width: 1116px;
    height: 100px;
    position: absolute;
    top: 100px;
    color: white;
    font-size: 14px;
    padding-left: 68px;
    background: linear-gradient(
      90deg,
      rgba(0, 59, 105, 1) 0%,
      rgba(0, 15, 40, 1) 45%,
      rgba(0, 59, 105, 1) 100%
    );

    span {
      display: block;
    }

    p {
      padding: 12px 0 0 15px;
      @include img-size(282, 62);
      cursor: pointer;
    }
    & > p:first-child {
      margin-right: 200px;
    }

    &--chosen {
      color: #000;
      font-weight: bold;
      background: img-url("functions", "category");
    }
    & > div {
      display: flex;
    }
  }

  &__solutions {
    padding-top: 44px;
    z-index: 1;

    &:before {
      content: "";
      @include img-size(171, 413);
      background: img-url("functions", "solutions-figure");
      left: 452px;
      top: 200px;
      position: absolute;
      z-index: -1;
    }

    h5 {
      color: #666;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 138px;
      padding-left: 130px;
    }

    &__title {
      width: 539px;
      height: 79px;
      border-radius: 10px 10px 0 0;
      background-image: linear-gradient(90deg, #836733 0%, #c29b5d 100%);
      font-size: 20px;
      margin-bottom: 24px;
    }

    &__text {
      width: 539px;
      height: 615px;
      border-radius: 10px;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
      background-color: #f2ede7;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      margin-left: 122px;

      p {
        width: 100%;
        padding: 0 40px 24px;
      }

      &--more {
        width: 503px;
        height: 115px;
        background: img-url("functions", "more-bg");

        button {
          width: 403px;
          height: 84px;
          background: img-url("functions", "more");
          font-size: 14px;

          span {
            display: block;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }

    &__list {
      min-height: 364px;
    }
  }
}

.pros {
  @include section-size;
  @include section-pos(100%, 20%);
  height: 1492px;
  //   background: #fff;
  overflow: hidden;

  h2 {
    width: 540px;
    height: 112px;
    border-radius: 0 0 10px 10px;
    background-image: linear-gradient(90deg, #836733 0%, #c29b5d 100%);
    margin: 0 32px 48px auto;
  }

  h4 {
    font-size: 24px;
    width: 160px;
    padding: 40px 0 0 40px;
    flex-basis: 360px;

    span {
      display: block;
    }
  }

  .row {
    width: 1091px;
    height: 296px;
    display: flex;
    margin-bottom: 32px;

    &__left {
      margin-left: -8px;
    }

    &__right {
      margin-right: -8px;
      margin-left: auto;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    flex-basis: 60%;

    span {
      display: block;
    }

    p {
      width: 244px;
      font-size: 18px;
    }
  }

  &__slider {
    &__analysis,
    &__system,
    &__program,
    &__reports {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__analysis {
    background: img-url("pros", "analysis");

    &__content {
      padding: 60px 0 48px 0;

      p:nth-child(-n + 2) {
        flex-basis: 85px;
        margin-right: 90px;
      }
    }
  }
  &__system {
    background: img-url("pros", "system");

    h4 {
      padding-top: 32px;
    }

    &__content {
      padding: 80px 0 68px 0;

      p:nth-child(odd) {
        flex-basis: 85px;
        margin-right: 90px;
      }
    }
  }

  &__program {
    background: img-url("pros", "program");

    .content {
      justify-content: space-around;
    }

    &__content {
      padding: 42px 0 52px 0;

      p:first-child {
        margin-right: 100px;
      }
    }
  }

  &__reports {
    background: img-url("pros", "reports");

    .content {
      justify-content: space-around;
    }

    &__content {
      padding: 80px 0 65px 0;
    }

    p:nth-child(even) {
      margin-right: 90px;
      flex-basis: 85px;
    }
  }
}

.scheme {
  @include section-pos(350%, 259.5%);
  width: 2088px;
  height: 708px;
  //   background: #fff;
  display: flex;
  font-weight: bold;
  font-size: 18px;

  &__slider__wrapper {
    display: flex;
  }

  span {
    display: block;
  }

  h2 {
    font-size: 30px;
    width: 168px;
    height: 238px;
    background-image: linear-gradient(180deg, #836733 0%, #c29b5d 100%);
    border-radius: 0 0 10px 0;
    padding: 42px 0 0 30px;
    color: white;
  }

  .text {
    border-radius: 5px;
    filter: drop-shadow(0 0 12px rgba(102, 102, 102, 0.35));
    background-color: #ffffff;
  }

  .short-arrow {
    width: 47px;
    height: 62px;
    // margin: 0 -42px 0 -26px;
    margin-left: -1px;
    margin-right: -14px;

    &__first {
      margin-top: 88px;
    }

    &__second {
      margin-top: 177px;
    }
  }

  .long-arrow {
    width: 119px;
    height: 62px;
    margin-left: -25px;
    margin-top: 264px;
  }

  &__start {
    @include img-size(728, 708);
    background-color: rgba(0, 59, 105, 0.53);
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    z-index: 2;

    &__wrapper {
      display: flex;
    }

    &__request {
      @include img-size(175, 60);
      position: relative;
      margin: 60px 0 0 32px;

      &::after {
        content: "";
        width: 64px;
        height: 2px;
        background: white;
        position: absolute;
        top: 50%;
        left: -64px;
      }
    }

    &__analysis {
      @include img-size(226, 60);
      margin-top: 148px;
    }

    &__demonstration {
      @include img-size(208, 60);
      margin-top: 235px;
      padding: 7px 0 0 20px;
    }

    &__presentation {
      @include img-size(434, 259);
      width: 433px;
      height: 259px;
      border-radius: 10px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      margin-top: 80px;
      p {
        width: 345px;
        margin-bottom: 44px;
        color: white;
      }

      button {
        @include img-size(294, 57);
        border-radius: 28px;
        filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.32));
        background-image: linear-gradient(90deg, #836733 0%, #c29b5d 100%);
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
    }
  }

  &__registration {
    @include img-size(579, 708);
    background-color: rgba(0, 59, 105, 0.73);
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &__header {
      @include img-size(433, 129);
      border-radius: 10px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      color: white;
      flex-direction: column;
      margin-top: 72px;
    }

    &__arrow-block {
      display: flex;
      margin-left: 84px;

      .short-arrow {
        margin: 150px -13px 0 -1px;
      }

      .long-arrow {
        margin: 242px 0 0 -5px;
      }

      .text {
        border-radius: 5px;
        background-color: #ffffff;
        filter: none;
      }

      .business-offer {
        @include img-size(207, 60);
        padding: 7px 0 0 24px;
        margin: 122px 0 0 28px;
      }

      .contract {
        @include img-size(285, 60);
        margin-top: 208px;
      }
    }
  }

  &__cooperation {
    @include img-size(466, 708);
    background-image: linear-gradient(
      180deg,
      rgba(131, 103, 51, 0.82) 0%,
      rgba(194, 155, 93, 0.82) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 32px;
    overflow: hidden;

    &__header {
      @include img-size(406, 129);
      border-radius: 10px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      color: white;
      flex-direction: column;
      margin-top: 72px;
    }

    &__arrow-block {
      display: flex;

      .short-arrow {
        margin: 330px -14px 0 -27px;
      }

      .introduction {
        @include img-size(161, 60);
        margin: 300px 0 0 62px;
      }

      .support {
        @include img-size(276, 60);
        padding: 7px 0 0 20px;
        margin-top: 390px;
        border-radius: 5px 0 0 5px;
      }
    }
  }
}

.faq {
  width: 1140px;
  @include section-pos(407.5%, 369.2%);
  //   background-color: #fff;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    font-size: 18px;

    h3 {
      width: 150px;
      height: 60px;
      border-radius: 0 5px 5px 0;
      background-image: linear-gradient(-90deg, #000f28 0%, #002142 100%);
      color: white;
      font-size: 30px;
    }
    &__tabs {
      display: flex;
      justify-content: space-evenly;
      flex-basis: 600px;
      height: 50px;

      .tab {
        cursor: pointer;

        &--chosen {
          width: 182px;
          height: 50px;
          border-radius: 25px;
          background-image: linear-gradient(90deg, #836733 0%, #c29b5d 100%);
          color: white;
        }
      }
    }

    .vr {
      width: 226px;
      height: 50px;
      border-radius: 25px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      margin-right: 52px;
      color: white;
      order: 3;
      visibility: hidden;
    }
  }

  &__show-more {
    display: flex;
    align-items: center;
    width: 262px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
    color: white;
    margin: 30px auto;
    font-size: 18px;

    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    &__icon {
      @include img-size(34, 34);
      background: img-url("faq", "show-more-icon");
      margin: 0 20px 0 6px;
    }
  }
}

.form {
  &__wrap {
    @include img-size(1140, 737);
    display: flex;
    padding-top: 103px;
    padding-left: 146px;
    background: img-url("form", "bg");
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #000000;
    position: relative;

    a {
      color: #000000;
      line-height: 36px;
    }

    &__title {
      display: none;
    }
  }

  &__content {
    width: 402px;
    height: 486px;
    padding: 46px 42px 42px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 12px rgba(102, 102, 102, 0.35));
  }

  &__point {
    padding-top: 54px;

    &_mobile {
      display: none;
    }
  }

  &__title {
    margin-top: 28px;
    font-size: 24px;
  }

  &__mail {
    margin-top: 28px;
    border-bottom: 1px dashed #666666;
    line-height: 18px;
  }

  &__text {
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 33px;

    span {
      display: block;
    }
  }

  &__btn {
    padding: 16px 74px;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #ffffff;
    background: linear-gradient(
      90deg,
      rgba(132, 104, 52, 1) 0%,
      rgba(193, 154, 92, 1) 100%
    );
    border-radius: 50px;
    box-shadow: 0px 0px 10px 7px rgba(218, 218, 218, 0.32);
  }

  &__modal {
    width: 513px;
    height: 660px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    transition: all 0.1s ease-in-out;

    &__overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 59, 105, 0.73);
      z-index: -1;
      opacity: 0;
      transition: all 0.1s ease-in-out;
    }

    &.active,
    &__overlay.active {
      z-index: 1;
      opacity: 1;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-top: 40px;
      margin-bottom: 7%;

      h4 {
        padding-left: 5%;

        span {
          text-transform: initial;
          font-weight: normal;
          font-size: 12px;
          display: block;
        }
      }

      p {
        font-size: 12px;
        padding: 16px 44px 16px 28px;
        background-color: #f0ece7;
        border-radius: 5px 0 0 5px;

        a {
          display: block;
          font-weight: bold;
          line-height: normal;
          color: black;
        }
      }
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
      width: 75%;
      height: 50px;
      border-radius: 5px;
      filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.32));
      background-color: #ffffff;
      margin-bottom: 5%;
      padding-left: 6%;
      font-size: 14px;
    }

    textarea {
      font-family: "Noto Sans", sans-serif;
      resize: none;
      height: 90px;
      padding-top: 2%;
    }

    .checkbox {
      display: block;
      width: 100%;
      left: 18.5%;
      position: relative;
      padding-left: 42px;
      margin-bottom: 42px;
      padding-top: 5px;
      cursor: pointer;
      font-size: 14px;
      color: #666666;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.32));
      background-color: #fff;
    }

    /* On mouse-over, add a grey background color */
    .checkbox:hover input ~ .checkmark {
      background-color: #f2ede7;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox input:checked ~ .checkmark {
      background-image: linear-gradient(-90deg, #000f28 0%, #003b69 100%);
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox .checkmark:after {
      left: 11px;
      top: 7px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    button {
      width: 66%;
      height: 60px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      background-image: linear-gradient(-90deg, #000f28 0%, #003b69 100%);
      &:disabled {
        opacity: 0.6;
      }
    }

    &__close {
      @include img-size(16, 16);
      position: absolute;
      display: block;
      background: img-url("common", "close-icon");
      top: 16px;
      right: 16px;
      cursor: pointer;
    }
  }
}

@media (max-width: 640px) {
  .phone-big {
    min-width: 10vw;
    max-width: 10vw;
    min-height: 10vw;
    max-height: 10vw;
    right: 5vw;
    bottom: 5vw;
  }

  .tns-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 132px;
    top: 888px;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    button {
      width: 18px;
      height: 18px;
      border-radius: 9px;
      background: #fff;

      &.tns-nav-active {
        background-image: linear-gradient(-90deg, #7b6739 0%, #b69a61 100%);
      }
    }
  }

  .offer,
  .how,
  .result,
  .functions,
  .pros,
  .scheme,
  .faq {
    position: relative;
    left: 0;
    width: 100%;
  }

  .offer {
    height: auto;

    .menu {
      font-size: 14px;
      height: auto;

      &__sections {
        padding-left: 3.2vw;
        padding-top: 22px;

        p {
          margin-bottom: 2.8vw;
        }
      }

      &__info {
        min-height: 178px;
        padding-left: 3.2vw;
      }

      &__icon {
        height: 16px;
      }
    }

    &__header {
      align-items: center;
      padding: 3% 4% 0 4%;
    }

    &__title,
    &__title span {
      font-size: 18px;
    }

    &__head {
      img {
        @include mobile-img(60, 40);
        min-height: auto;
        max-height: none;
      }
    }
    .arrow__block {
      font-size: 14px;
      flex-direction: column;
      justify-content: space-around;
      height: 370px;
      margin-bottom: 40px;
      margin-top: 15px;

      .arrow {
        display: none;
      }

      .analyse,
      .based,
      .make {
        padding: 12px;
        margin-top: 0;
      }

      .analyse {
        @include mobile-img(75, 90);
        border-radius: 0 10px 10px 0;
        padding-top: 22px;
      }

      .based {
        @include mobile-img(57, 90);
        margin-left: auto;
        border-radius: 10px 0 0 10px;
      }

      .make {
        @include mobile-img(59, 90);
        border-radius: 0 10px 10px 0;

        span {
          width: 60%;
          margin-left: auto;
        }

        img {
          display: none;
        }
      }
    }
    .order {
      background: img-url("first-screen", "order-bg-mobile");
      //   @include mobile-img(103, 102);
      //   font-size: 24px;
      //   padding-left: 50px;
      font-size: 16px;
      padding: 0;
      margin: -13px 0 0 -1.6vw;
      width: 103vw;
      height: 16vw;
      padding-left: 4.7vw;
      @include resetMinMax();
      max-height: 102px;
    }
  }

  .how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    h2 {
      position: relative;
      right: auto;
      top: 54px;
    }

    &__arrow-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .arrow {
        display: none;
      }

      &__analyse {
        @include mobile-img(100, 231);
        margin-left: 0;
        display: flex;
        align-items: flex-end;
        position: relative;

        h4 {
          position: absolute;
          @include mobile-img(100, 116);
          border-radius: 0;
          top: 50%;
          transform: translateY(-50%);
          justify-content: flex-start;

          span {
            width: 22%;
            margin-left: 11%;
            line-height: 140%;
          }
        }

        &__content {
          z-index: 1;
          margin-right: 5%;
          height: 100%;
          border-radius: 10px;

          p {
            text-align: center;
            margin-top: 0;
            padding: 0 48px;
          }
        }

        button {
          margin-bottom: 19px;
        }
      }

      &__decide {
        @include mobile-img(100, 231);
        margin-left: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        margin-top: 6.5%;

        h4 {
          position: absolute;
          @include mobile-img(100, 116);
          border-radius: 0;
          top: 50%;
          transform: translateY(-50%);
          justify-content: flex-start;

          span {
            width: 22%;
            margin-right: 11%;
            margin-left: auto;
            line-height: 140%;
          }
        }

        &__content {
          z-index: 1;
          height: 100%;
          border-radius: 10px;
          padding: 20px 0 0 0;
          margin: 0;
          margin-left: 5%;

          p {
            text-align: center;
            margin-top: 0;
            padding: 0 32px;
            margin-bottom: 20px;
          }

          .warn {
            margin-left: 32px;

            p {
              text-align: left;
              padding-left: 8px;
              margin-bottom: 24px;
            }
          }
        }
      }

      &__introduction {
        @include mobile-img(100, 231);
        margin-left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        margin-top: 3%;

        h4 {
          position: absolute;
          @include mobile-img(100, 116);
          border-radius: 0;
          top: 50%;
          transform: translateY(-50%);
          justify-content: flex-start;

          span {
            width: 22%;
            margin-left: 11%;
            line-height: 140%;
          }
        }

        p {
          z-index: 1;
          margin-right: 5%;
          height: 100%;
          border-radius: 10px;
          padding: 6% 3.75%;
          display: block;

          span {
            font-weight: bold;
          }

          //   p {
          //     text-align: center;
          //     margin-top: 0;
          //     padding: 0 48px;
          //   }
        }

        // button {
        //   margin-bottom: 19px;
        // }
      }
    }
  }

  .result {
    height: auto;
    background: img-url("result", "bg-mobile");

    .stage-text {
      display: none;
    }

    &__content {
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &__triangles {
        display: none;
      }

      &__description {
        display: flex;
        width: 100%;
        padding: 4% 1% 0 5%;
        background: rgba(52, 92, 136, 0.52);

        p {
          color: #fff;
          font-size: 18px;
        }

        & > p {
          flex-basis: 55%;
          padding-right: 0;
        }

        .marked-wrapper {
          margin-left: 80px;
        }

        .marked {
          width: auto;
          padding-right: 0;
          margin-left: -20px;
        }

        span {
          display: inline-block;
          font-weight: bold;
        }
      }
    }
  }

  .functions {
    flex-direction: column;

    &__problems {
      margin-right: 0;

      h2 {
        width: 100%;
        padding-left: 10.7%;
      }

      &__description {
        width: 100%;
        margin: 0;
      }

      &__list {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        &__common {
          flex-basis: 50%;
        }

        & > p {
          font-size: 18px;
          flex-basis: 45%;
        }
      }
    }

    &__choose {
      background: none;

      & > div {
        display: block;
      }

      p {
        padding-left: 20px;

        &:first-child {
          margin-right: 0;
        }
      }
    }

    &__solutions {
      min-height: auto;
      font-size: 18px;
      position: relative;
      &:before {
        content: "";
        @include img-size(413, 165);
        background: img-url("functions", "solutions-figure-mobile");
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        top: -60px;
        position: absolute;
        z-index: -1;
      }
      h5 {
        display: none;
      }

      &__title {
        width: 95%;
        font-size: 24px;
        justify-content: flex-start;
        padding-left: 5%;
      }

      &__text {
        width: 100%;
        margin-left: 0;

        &--more {
          width: 78vw;
          height: 18vw;

          button {
            width: 80%;
            height: 13vw;
          }
        }
      }
    }
  }

  .pros {
    height: auto;

    h2 {
      width: 90%;
      margin-left: 5%;
      height: 112px;
      border-radius: 0 0 10px 10px;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
      background-image: linear-gradient(270deg, #0d162c 0%, #233d67 100%);
    }
    .content {
      p {
        width: auto;
        margin-bottom: 20px;
        font-size: 24px;
      }
      span {
        display: inline-block;
      }
    }
    .row {
      &__left {
        margin-left: 0;
      }

      &__right {
        margin-right: 0;
        margin-left: auto;
      }
    }

    .tns-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 5%;
      width: 90%;
      height: 94px;
      border-radius: 0 0 10px 10px;
      background-image: linear-gradient(270deg, #0d162c 0%, #233d67 100%);
      top: 850px;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
      z-index: 1;
      padding: 0 30px;
      &:focus {
        outline: none;
      }

      button {
        width: 26px;
        height: 49px;
        background: img-url("pros", "slider-nav");

        &:first-child {
          transform: rotate(180deg);
        }
      }
    }

    .tns-ovh {
      overflow: visible;
    }

    &__slider {
      &__analysis,
      &__system,
      &__program,
      &__reports {
        width: 90%;
        height: 100%;
        margin-left: 5%;
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
        background: #fff;
        padding: 0;
        border-radius: 10px;
        display: block;
      }
    }

    &__analysis,
    &__system,
    &__program,
    &__reports {
      min-height: 784px;
      margin-left: 10px;
      background: none;

      h4 {
        width: calc(100% - 39px);
        height: 240px;
        border-radius: 10px 10px 0 0;
        margin-left: -1px;
        position: relative;
        background-image: linear-gradient(90deg, #7b6739 0%, #b69a61 100%);
        overflow: hidden;

        &:after {
          width: 44vw;
          height: 44vw;
          content: "";
          display: block;
          position: absolute;
          top: 25%;
          right: 3vw;
          background: img-url("pros", "analysis-mobile");
        }
      }

      &__content {
        padding: 4% 7.5% 0 7.5%;

        p:nth-child(-n + 2) {
          flex-basis: auto;
          margin-right: 0;
        }
      }
    }

    &__system {
      h4 {
        background-image: linear-gradient(270deg, #0d162c 0%, #233d67 100%);

        &:after {
          width: 37vw;
          height: 37vw;
          background: img-url("pros", "system-mobile");
        }
      }
    }

    &__program {
      h4 {
        &:after {
          width: 47vw;
          height: 47vw;
          background: img-url("pros", "program-mobile");
        }
      }
    }

    &__reports {
      height: 37vw;

      h4 {
        background-image: linear-gradient(270deg, #0d162c 0%, #233d67 100%);

        &:after {
          background: img-url("pros", "reports-mobile");
        }
      }
    }
  }

  .scheme {
    height: auto;
    display: block;

    #tns2-ow {
      margin-top: -10px;
    }

    h2 {
      width: 100%;
      padding: 0;
      text-align: center;
      height: 140px;
      font-size: 36px;
      border-radius: 0 0 10px 10px;
      position: relative;
      z-index: 1;

      span {
        display: inline-block;
        padding-top: 43px;
      }
    }

    &__slider__wrapper {
      display: block;
    }
    &__start,
    &__registration,
    &__cooperation,
    &__registration__header {
      margin: 0;
      @include resetMinMax();
    }

    .short-arrow {
      margin-right: -65px;
    }

    .tns-controls {
      width: 86px;
      height: 85px;
      position: absolute;
      bottom: 194px;
      right: 2vw;

      button {
        width: 86px;
        height: 85px;
        background: img-url("scheme", "scheme-slider-nav");
        &:first-child {
          display: none;
        }

        &:disabled {
          display: none;
        }
      }
    }
    .tns-nav {
      top: auto;
      bottom: 40px;
    }

    &__start {
      &__wrapper {
        overflow: hidden;
      }

      &__request {
        margin-left: 5vw;

        &::after {
          display: none;
        }
      }
      &__presentation {
        margin-bottom: 108px;
        border-radius: 0 10px 10px 0;
      }
    }

    &__registration {
      height: 773px;

      &__header {
        width: 379px;
        height: 129px;
        border-radius: 0 10px 10px 0;
        position: absolute;
        bottom: 168px;
      }

      &__arrow-block {
        margin-left: 0;
        overflow: hidden;

        .short-arrow {
          margin-right: -13px;
        }

        .business-offer {
          position: relative;

          &::after {
            content: "";
            width: 64px;
            height: 2px;
            background: white;
            position: absolute;
            top: 50%;
            left: -64px;
          }
        }
      }
    }

    &__cooperation {
      height: 773px;
      background: rgba(35, 61, 103, 0.88);
      position: relative;

      &__header {
        width: 406px;
        height: 129px;
        border-radius: 10px;
        background-image: linear-gradient(180deg, #7b6739 0%, #b69a61 100%);
        position: absolute;
        bottom: 168px;
        left: 50%;
        transform: translateX(-50%);
      }

      &__arrow-block {
        .introduction {
          margin-top: 144px;
          position: relative;

          &::after {
            content: "";
            width: 64px;
            height: 2px;
            background: white;
            position: absolute;
            top: 50%;
            left: -64px;
          }
        }

        .short-arrow {
          margin: 174px -16px 0 -3px;
        }

        .support {
          margin-top: 234px;
          border-radius: 10px;
        }
      }
    }
  }

  .faq {
    padding-top: 40px;

    &__header {
      margin-top: 0;
      flex-wrap: wrap;

      & .vr {
        margin-right: 30px;
        order: unset;
      }

      &__tabs {
        flex-basis: 100%;
        margin-top: 40px;
      }
    }

    &__show-more {
      margin: 48px auto;
    }
  }

  .form {
    &__wrap {
      padding: 54px 0 0 0;
      flex-direction: column;
      background-position: top;
      min-width: auto;
      max-height: 958px;
      min-height: 958px;
      align-items: center;
      background: img-url("form", "bgmobile");

      &__title {
        display: block;
        font-size: 30px;
        color: #fff;
        line-height: 36px;
        letter-spacing: 0.25px;
        margin: 0 auto;
        margin-bottom: 84px;
      }
    }

    &__point {
      display: none;

      &_mobile {
        display: block;
        margin-right: 83px;
        margin-bottom: -36px;
      }
    }

    &__modal {
      width: 90%;
      min-height: 70%;
      height: auto;

      button {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .how {
    &__arrow-block {
      justify-content: center;
      margin-top: 10vw;
      margin-bottom: 10vw;

      &__analyse,
      &__decide,
      &__introduction {
        min-height: auto;
        max-height: none;
        position: relative;
        justify-content: center;
        align-items: center;

        h4 {
          position: relative;
          top: 0;
          border-radius: 10px;
          justify-content: center;
          min-width: auto;
          transform: none;

          span {
            margin-left: 0;
            margin-right: 0;
            width: auto;
          }
        }

        &__content {
          margin-right: 0;
          margin-left: 0;
          height: 100%;
          border-radius: 0 0 10px 10px;
          min-width: 260px;
          width: 50%;

          p {
            font-size: 14px;
            flex-basis: 92px;
            margin: 0;
          }
        }
      }

      &__analyse {
        h4 {
          width: 63%;
          min-width: 300px;
        }
        &__content {
          p {
            padding: 0;
            font-size: 14px;
          }
        }

        button {
          width: 90%;
          height: 14vw;
        }
      }
      &__decide,
      &__introduction {
        margin-top: 6.5%;

        h4 {
          width: 56%;
          min-width: 280px;
        }

        p {
          margin-right: 0;
          padding: 0 5vw;
        }
      }
      &__decide__content,
      &__introduction p {
        width: 50%;
        margin-top: -10px;
        font-size: 14px;
        min-width: 260px;
      }

      .warn {
        margin-left: 16px;
        margin-bottom: 24px;
        p {
          padding: 0;
          padding-right: 16px;
          margin-bottom: 0;
          flex-basis: auto;
        }
      }

      &__introduction {
        p {
          padding: 14px 5vw;
        }
      }
    }
  }

  .functions {
    h2 {
      text-align: center;
      padding: 44px 0 0 0;
      height: 250px;
      font-size: 28px;
    }
    &__choose {
      width: 100%;
      height: auto;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
    }
    &__problems {
      &__description {
        width: 100%;
        padding: 0 4%;
      }

      &__list {
        flex-direction: column;
        font-size: 14px;

        & > p {
          font-size: 16px;
        }
      }
    }

    &__solutions {
      &__list {
        font-size: 14px;
      }

      &__text--more {
        button {
          width: 94%;
          height: 15vw;

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
  .pros {
    .tns-controls {
      top: 733px;
    }
    .tns-nav {
      top: 771px;
    }
    &__slider {
      &__analysis,
      &__system,
      &__program,
      &__reports {
        height: 85%;
      }
    }
    &__analysis,
    &__system,
    &__program,
    &__reports {
      h4 {
        height: 200px;

        &:after {
          top: 20%;
        }
      }
    }

    .content {
      p {
        font-size: 18px;
      }
    }
  }
  .scheme {
    .short-arrow {
      margin-right: -130px;
    }
    .long-arrow {
      display: none;
    }
    &__start {
      &__demonstration {
        &:after {
          content: "";
          position: absolute;
          width: 150px;
          height: 2px;
          background: white;
          left: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &__presentation {
        @include resetMinMax();
        width: 80vw;
      }
    }

    &__registration,
    &__cooperation {
      &__header {
        @include resetMinMax();
        width: 80vw;
      }
    }
  }
}

@media (max-width: 500px) {
  .offer {
    .menu {
      width: 90%;
      left: 5%;

      &__info {
        min-height: 138px;

        a {
          margin-bottom: 10px;
        }
      }
    }

    .arrow__block {
      .make {
        span {
          width: auto;
        }
      }
    }
  }

  .pros {
    h4 {
      background-position: top;
      height: 35vw;
    }

    .content {
      p {
        font-size: 18px;
      }
    }
  }

  .scheme {
    h2 {
      height: 80px;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        padding: 0 8px 0 0;
      }
    }
    .tns-controls {
      right: 5vw;
      width: 13vw;
      height: 13vw;

      button {
        width: 13vw;
        height: 13vw;
      }
    }

    .short-arrow,
    .long-arrow {
      margin: -2px 0 0 -28px;
    }

    &__start,
    &__registration,
    &__cooperation {
      height: 718px;
    }
    &__start {
      &__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }

      &__request,
      &__analysis,
      &__demonstration {
        margin: 0;
      }

      &__presentation {
        font-size: 16px;
        height: 200px;

        p {
          margin-bottom: 24px;
        }
      }
    }

    &__registration {
      &__arrow-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;

        .text {
          margin: 0;
        }

        .business-offer {
          &::after {
            width: 150px;
            left: -150px;
          }
        }

        .contract {
          position: relative;

          &::after {
            content: "";
            width: 144px;
            height: 2px;
            background: white;
            position: absolute;
            top: 50%;
            right: -144px;
          }
        }
      }
    }

    &__cooperation {
      &__arrow-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
      }

      .text {
        margin: 0;
      }

      .introduction {
        &::after {
          width: 164px;
          left: -164px;
        }
      }
    }
  }

  .faq {
    &__header {
      h3 {
        margin-bottom: 40px;
      }
      &__tabs {
        // flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-bottom: 40px;
        height: auto;

        .tab {
          margin-top: 10px;
          flex-basis: 50%;
          height: 50px;
          font-size: 14px;
        }

        .tab--chosen {
          width: 150px;
        }
      }

      .vr {
        font-size: 16px;
        margin-right: 0;
        margin-left: 5px;
      }
    }

    &__show-more {
      font-size: 16px;
      width: 230px;
    }
  }
}

@media (max-width: 460px) {
  .phone-big {
    min-width: 15vw;
    max-width: 15vw;
    min-height: 15vw;
    max-height: 15vw;
  }

  .how {
    &__arrow-block {
      &__decide__content {
        padding-top: 12px;

        p {
          flex-basis: 70px;
        }
      }
      &__introduction {
        p {
          padding: 24px 5vw;
        }
      }
    }
  }
  .result {
    &__content {
      &__rhombus {
        width: 100%;
      }

      .reject {
        left: 16px;
        padding-bottom: 60px;
        background-position-x: 80px;
      }
      .graphic {
        right: 13%;
      }

      &__description {
        p {
          flex-basis: auto;
          font-size: 14px;
        }
        .marked-wrapper {
          margin-left: 20px;
        }
      }
    }
  }

  .functions {
    &__solutions__text--more {
      font-size: 12px;
      button {
        span {
          font-size: 14px;
        }
      }
    }
  }
  .pros {
    &__slider {
      &__analysis,
      &__system,
      &__program,
      &__reports {
        height: 73%;
      }
      &__analysis {
        h4 {
          margin-bottom: 0;
        }
      }
    }
    .content {
      p {
        font-size: 14px;
        flex-basis: auto;
      }
    }
    .tns-controls {
      top: 638px;
    }
    .tns-nav {
      top: 677px;
    }
  }
  .scheme {
    &__start {
      &__presentation {
        p {
          width: auto;
          padding: 0 4%;
          font-size: 14px;
        }

        button {
          @include resetMinMax();
          height: 57px;
          width: 85%;
        }
      }
    }
  }

  .form {
    &__modal {
      &__title {
        flex-direction: column;

        p {
          width: 100%;
          margin-top: 16px;
          text-align: center;
        }
      }

      .checkbox {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 400px) {
  .pros {
    &__slider {
      &__analysis,
      &__system,
      &__program,
      &__reports {
        h4 {
          font-size: 22px;
          padding: 5vw 0 0 5vw;
          width: calc(100% - 4.9vw);
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .offer,
  .how,
  .result,
  .functions,
  .pros,
  .scheme,
  .faq {
    position: relative;
    left: 0;
    width: 100%;
  }

  .offer {
    height: auto;

    .menu {
      &__icon {
        height: 16px;
      }
    }

    &__header {
      align-items: center;
      padding: 3% 4% 0 4%;
    }

    &__title,
    &__title span {
      font-size: 18px;
    }

    &__head {
      img {
        @include mobile-img(60, 40);
      }
    }
    .arrow__block {
      font-size: 12px;
      flex-direction: column;
      justify-content: space-around;
      height: 290px;

      .arrow {
        display: none;
      }

      .analyse,
      .based,
      .make {
        padding: 8px;
        margin-top: 0;
      }

      .analyse {
        @include mobile-img(75, 70);
        border-radius: 0 10px 10px 0;
      }

      .based {
        @include mobile-img(57, 70);
        margin-left: auto;
        border-radius: 10px 0 0 10px;
      }

      .make {
        @include mobile-img(59, 70);
        border-radius: 0 10px 10px 0;

        span {
          width: auto;
        }
      }
    }

    .order {
      font-size: 16px;
      padding: 0;
      margin: 0 0 -10px 0;
      width: 100%;
      height: 61px;
      padding-left: 10px;
      @include resetMinMax();
    }
  }

  .how {
    &__arrow-block {
      &__analyse {
        &__content {
          button {
            height: 17vw;
          }
        }
      }
    }
  }

  .functions {
    &__solutions__text--more {
      font-size: 11px;
      button {
        span {
          font-size: 12px;
        }
      }
    }
  }
  .pros {
    height: 729px;

    h2 {
      font-size: 24px;
    }

    h4 {
      width: calc(100% - 15px);
      height: 144px;
      padding: 15px 0 0 15px;
      font-size: 20px;
    }

    .tns-nav {
      top: 673px;
    }

    .tns-controls {
      top: 635px;
    }

    &__analysis,
    &__system,
    &__program,
    &__reports {
      min-height: auto;
    }

    &__slider {
      &__analysis,
      &__system,
      &__program,
      &__reports {
        height: 570px;
      }
      &__program,
      &__reports {
        h4 {
          background-size: cover;
        }
      }
    }
    .content {
      p {
        font-size: 14px;
      }
    }
  }

  .form {
    &__content {
      padding: 20px 5px;
      font-size: 16px;
      width: 96%;
      height: auto;
    }

    &__title {
      font-size: 18px;
    }

    &__mail {
      margin-top: 18px;
    }

    &__text {
      margin: 18px 0;
    }

    &__btn {
      font-size: 16px;
    }
  }
}
