@import "../../fonts/stylesheet.css";
@import "./accodion.scss";

@function img-url($folder, $imgName) {
  @return url("../../img/" + $folder + "/" + $imgName + ".png") no-repeat center /
    cover;
}
@mixin section-size {
  width: 1140px;
  height: 700px;
}

@mixin section-pos($top, $left) {
  position: fixed;
  top: $top;
  left: $left;
}

@mixin img-size($width, $height) {
  min-width: $width + px;
  max-width: $width + px;
  min-height: $height + px;
  max-height: $height + px;
}
@mixin mobile-img($width, $height) {
  min-width: $width * 1%;
  max-width: $width * 1%;
  min-height: $height + px;
  max-height: $height + px;
}

$text-white: #fff;
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div,
p,
form,
input,
a,
span,
button {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}
a,
a:hover,
a:active {
  text-decoration: none;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
}

.text-white {
  color: $text-white;
}

.text-uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-bg {
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  min-height: 8376px;
  max-height: 8376px;
  // background: img-url("common", "global-bg");
  background: gray;
  background-repeat: repeat;
  filter: blur(10px);
}
/* First Screen */

.offer {
  @include section-size;
  @include section-pos(0%, 20%);
  background: img-url("first-screen", "bg");
  font-size: 14px;
  background-position: top;

  .menu {
    position: absolute;
    width: 479px;
    height: 587px;
    filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.35));
    background-color: #ffffff;
    top: 20px;
    left: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    opacity: 0;
    transition: all 0.1s ease-in-out;

    &__icon {
      cursor: pointer;
    }

    &--open {
      opacity: 1;
      z-index: 1;
    }

    a {
      color: #000;
    }

    &__close {
      @include img-size(26, 26);
      position: absolute;
      display: block;
      background: img-url("common", "close-icon");
      top: 26px;
      right: 26px;
      cursor: pointer;
    }

    &__sections {
      padding: 52px 0 0 34px;
      p {
        cursor: pointer;
        margin-bottom: 28px;
      }
    }
    &__info {
      min-height: 218px;
      max-height: 218px;
      background-color: #ebeaea;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 34px;

      a {
        display: block;
        margin-bottom: 20px;
      }
    }

    &__mail {
      line-height: 18px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__header {
    display: flex;
    padding: 22px 27px 0;
    justify-content: space-between;

    img {
      height: 29px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;
    padding-left: 30px;

    a {
      font-weight: bold;
      font-size: 20px;
      line-height: 18px;
      letter-spacing: 0.25px;
      color: #000000;
    }
  }

  &__phone {
    margin-left: 20px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }

  &__title {
    margin-top: 24px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;

    span {
      display: block;
      font-weight: normal;
      font-size: 30px;
    }
  }
  .arrow__block {
    display: flex;
    margin-top: 45px;

    .analyse {
      @include img-size(346, 90);
      border-radius: 0 10px 10px 0;
      filter: drop-shadow(0 0 4.5px rgba(0, 0, 0, 0.35));
      background-image: linear-gradient(-90deg, #000f28 0%, #003b69 100%);
      padding: 30px 25px;
    }

    .based {
      width: 331px;
      height: 90px;
      border-radius: 10px;
      filter: drop-shadow(0 0 4.5px rgba(0, 0, 0, 0.35));
      background-image: linear-gradient(-90deg, #000f28 0%, #003b69 100%);
      padding: 30px 25px;
      margin-top: 125px;
    }

    .make {
      width: 346px;
      height: 90px;
      display: flex;
      align-items: center;
      border-radius: 10px 0 0 10px;
      filter: drop-shadow(0 0 4.5px rgba(0, 0, 0, 0.35));
      background-image: linear-gradient(-90deg, #836733 0%, #c29b5d 100%);
      padding-left: 25px;
      margin-top: 244px;

      img {
        width: 100px;
        height: 102px;
      }
    }

    .arrow {
      width: 72px;
      height: 147px;

      &__first {
        margin: 43px -5px 0 -10px;
      }

      &__second {
        margin: 163px -4px 0 -8px;
      }
    }
  }
  .order {
    align-items: flex-start;
    flex-direction: column;
    @include img-size(321, 91);
    background: img-url("first-screen", "order-bg");
    padding: 22px 30px;
    margin: -13px 0 0 -10px;

    span {
      display: block;
      font-weight: bold;
    }
  }
}

.how {
  @include section-size;
  @include section-pos(48.7%, 79.9%);
  background: img-url("how", "bg");
  background-position: top;
  overflow: hidden;

  h2 {
    font-size: 36px;
    position: absolute;
    top: 86px;
    right: 69px;
  }

  &__arrow-block {
    padding-top: 70px;
    display: flex;

    h4 {
      //   flex-basis: 110px;

      span {
        text-align: center;
        border-bottom: 4px solid white;
        font-size: 24px;
        line-height: 190%;
        color: white;
      }
    }

    p {
      display: flex;
      align-items: center;
    }

    .arrow {
      width: 41px;
      height: 109px;

      &__first {
        margin-top: 42px;
        margin-left: -5px;
        margin-right: -19px;
      }

      &__second {
        margin-top: 192px;
        margin-left: -2px;
        margin-right: -19px;
      }
    }

    &__analyse {
      @include img-size(386, 340);
      // background: img-url("how", "analyse-bg");
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -11px;

      h4 {
        width: 376px;
        height: 90px;
        border-radius: 0 10px 10px 0;
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.35));
        background-image: linear-gradient(-90deg, #836733 0%, #c29b5d 100%);
      }

      &__content {
        width: 324px;
        height: 251px;
        border-radius: 0 0 10px 10px;
        background-image: linear-gradient(-90deg, #836733 0%, #c29b5d 100%);
        flex-direction: column;
      }

      p {
        font-size: 18px;
        padding: 0 55px 0 32px;
        flex-basis: 128px;
        margin-top: -10px;
      }

      button {
        width: 283px;
        height: 84px;
        background: img-url("how", "analyse-button");
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
    }

    &__decide {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 148px;

      h4 {
        width: 336px;
        height: 90px;
        border-radius: 10px;
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.35));
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
      }

      &__content {
        width: 324px;
        height: 193px;
        border-radius: 0 0 10px 10px;
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
        flex-direction: column;
        justify-content: space-around;
        padding: 16px 32px 0 32px;
        margin-top: -12px;
      }

      p {
        font-size: 18px;
      }

      p:last-child {
        font-size: 12px;
        margin-left: 16px;
      }
    }

    &__introduction {
      // @include img-size(439, 266);
      // background: img-url("how", "introduction-bg");
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 298px;

      h4 {
        width: 394px;
        height: 95px;
        border-radius: 10px 0 0 10px;
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.35));
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
      }

      p {
        font-size: 18px;
        padding: 0px 22px;
        width: 324px;
        height: 169px;
        border-radius: 0 0 10px 10px;
        background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
      }
    }
  }
}

.result {
  @include section-size;
  @include section-pos(89.4%, 139.9%);
  background: img-url("result", "bg");
  background-position: top;

  span {
    display: block;
  }

  h2 {
    padding-top: 36px;
    text-align: center;
  }

  //TODO new pos-rel
  .stage-text {
    @include img-size(108, 46);
    background: img-url("result", "stage");
    background-position: top left;
    background-size: auto;
    position: absolute;
    padding-left: 34px;
    top: 108px;
    left: 50px;
    font-size: 12px;
    color: #999999;
  }

  &__content {
    display: flex;
    justify-content: flex-end;

    p {
      font-size: 18px;
    }

    &__triangles {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 510px;
      justify-content: flex-end;
      font-size: 12px;
      font-weight: bold;

      &__rus {
        width: 266px;
        height: 96px;
        background: img-url("result", "rus");
        margin-bottom: 33px;
        padding: 34px 0 0 54px;
      }

      &__ekg {
        width: 190px;
        height: 83px;
        background: img-url("result", "ekg");
        margin-left: 10px;
        padding: 23px 0 0 45px;
      }
    }

    &__rhombus {
      width: 407px;
      height: 471px;
      margin-left: -30px;
      margin-right: -33px;
      background: img-url("result", "rhombus");
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      position: relative;

      .reject {
        @include img-size(188, 46);
        background: img-url("result", "reject");
        background-position: bottom right;
        padding-left: 13px;
        top: 18px;
        left: -40px;
        color: #999999;
      }

      .graphic {
        @include img-size(108, 46);
        background: img-url("result", "graphic");
        background-position: top left;
        padding-left: 34px;
        bottom: 58px;
        right: 0px;
      }

      .reject,
      .graphic {
        font-size: 12px;
        font-weight: normal;
        color: #999999;
        background-size: auto;
        position: absolute;
      }

      .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 220px;

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }

      p:last-child {
        flex-basis: 110px;
        display: flex;
        align-items: center;
      }
    }

    &__description {
      width: 400px;

      p {
        font-size: 14px;
        color: white;
        width: 413px;
        padding-right: 76px;
        margin-bottom: 16px;
      }

      .marked {
        width: 414px;
        padding-right: 176px;
        padding-left: 38px;
        position: relative;

        &::before {
          content: "";
          background: img-url("result", "point");
          width: 10px;
          height: 10px;
          position: absolute;
          left: 14px;
          top: 5px;
        }
      }
    }
  }
}

.functions {
  @include section-size;
  @include section-pos(141%, 199.5%);
  height: auto;
  display: flex;
  background-position: top;
  flex-wrap: wrap;
  background-color: #ffffff;

  h2 {
    font-size: 36px;
    padding: 44px 0 0 89px;
    color: white;
    width: 424px;
    height: 179px;
    background-image: linear-gradient(270deg, #000f28 0%, #003b69 100%);
  }

  .title {
    font-size: 24px;
  }

  &__problems {
    margin-right: -76px;
    position: relative;
    z-index: 2;

    &__description {
      width: 466px;
      padding: 0 28px 0 42px;
      margin-left: 47px;
      border-radius: 0 0 10px 10px;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
      background-color: #ffffff;
      border: 1px solid #c6c6c6;

      .title {
        padding-top: 24px;
        margin-bottom: 32px;
      }

      p {
        margin-bottom: 24px;
      }

      p:last-child {
        margin-bottom: 50px;
        font-weight: bold;
      }
    }
  }

  &__choose {
    display: flex;
    align-items: center;
    width: 1116px;
    height: 100px;
    position: absolute;
    top: 100px;
    color: white;
    font-size: 14px;
    padding-left: 68px;
    background: linear-gradient(
      90deg,
      rgba(0, 59, 105, 1) 0%,
      rgba(0, 15, 40, 1) 45%,
      rgba(0, 59, 105, 1) 100%
    );

    span {
      display: block;
    }

    p {
      padding: 12px 0 0 15px;
      @include img-size(282, 62);
      cursor: pointer;

      &:first-child {
        margin-right: 200px;
      }
    }

    &--chosen {
      color: #000;
      font-weight: bold;
      background: img-url("functions", "category");
    }
  }

  &__solutions {
    padding-top: 44px;
    z-index: 1;

    h5 {
      color: #666;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 138px;
      padding-left: 130px;

      &:before {
        content: "";
        @include img-size(171, 413);
        background: img-url("functions", "solutions-figure");
        left: 472px;
        top: 220px;
        position: absolute;
        z-index: -1;
      }
    }

    &__title {
      width: 539px;
      height: 79px;
      border-radius: 10px 10px 0 0;
      background-image: linear-gradient(90deg, #836733 0%, #c29b5d 100%);
      font-size: 20px;
      margin-bottom: 24px;
    }

    &__text {
      width: 539px;
      height: 615px;
      border-radius: 10px;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
      background-color: #f2ede7;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      margin-left: 122px;

      p {
        width: 100%;
        padding: 0 40px 24px;
      }

      &--more {
        width: 503px;
        height: 115px;
        background: img-url("functions", "more-bg");

        button {
          width: 403px;
          height: 84px;
          background: img-url("functions", "more");
          font-size: 14px;

          span {
            display: block;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }

    &__list {
      min-height: 364px;
    }
  }
}

.pros {
  @include section-size;
  @include section-pos(100%, 20%);
  height: 1492px;
  background: img-url("pros", "bg");

  h2 {
    width: 541px;
    height: 112px;
    background: img-url("pros", "header");
    margin: 0 32px 48px auto;
  }

  h4 {
    font-size: 24px;
    width: 160px;
    padding: 40px 0 0 40px;
    flex-basis: 360px;

    span {
      display: block;
    }
  }

  .row {
    width: 1091px;
    height: 296px;
    display: flex;
    margin-bottom: 32px;

    &__left {
      margin-left: -8px;
    }

    &__right {
      margin-right: -8px;
      margin-left: auto;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;

    span {
      display: block;
    }

    p {
      width: 244px;
      font-size: 18px;
    }
  }

  &__analysis {
    background: img-url("pros", "analysis");

    &__content {
      padding: 60px 0 48px 0;

      p:nth-child(-n + 2) {
        flex-basis: 85px;
        margin-right: 90px;
      }
    }
  }
  &__system {
    background: img-url("pros", "system");

    h4 {
      padding-top: 32px;
    }

    &__content {
      padding: 80px 0 68px 0;

      p:nth-child(odd) {
        flex-basis: 85px;
        margin-right: 90px;
      }
    }
  }

  &__program {
    background: img-url("pros", "program");

    .content {
      justify-content: space-around;
    }

    &__content {
      padding: 42px 0 52px 0;

      p:first-child {
        margin-right: 100px;
      }
    }
  }

  &__reports {
    background: img-url("pros", "reports");

    .content {
      justify-content: space-around;
    }

    &__content {
      padding: 80px 0 65px 0;
    }

    p:nth-child(even) {
      margin-right: 90px;
      flex-basis: 85px;
    }
  }
}

.scheme {
  @include section-pos(350%, 259.5%);
  width: 2088px;
  height: 708px;
  background: img-url("scheme", "bg");
  display: flex;
  font-weight: bold;
  font-size: 18px;

  span {
    display: block;
  }

  h2 {
    font-size: 30px;
    width: 168px;
    height: 238px;
    background-image: linear-gradient(180deg, #836733 0%, #c29b5d 100%);
    border-radius: 0 0 10px 0;
    padding: 42px 0 0 30px;
    color: white;
  }

  .text {
    border-radius: 5px;
    filter: drop-shadow(0 0 12px rgba(102, 102, 102, 0.35));
    background-color: #ffffff;
  }

  .short-arrow {
    width: 47px;
    height: 62px;
    // margin: 0 -42px 0 -26px;
    margin-left: -1px;
    margin-right: -14px;

    &__first {
      margin-top: 88px;
    }

    &__second {
      margin-top: 177px;
    }
  }

  .long-arrow {
    width: 119px;
    height: 62px;
    margin-left: -25px;
    margin-top: 264px;
  }

  &__start {
    @include img-size(728, 708);
    background-color: rgba(0, 59, 105, 0.53);
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    z-index: 2;

    &__wrapper {
      display: flex;
    }

    &__request {
      @include img-size(175, 60);
      position: relative;
      margin: 60px 0 0 32px;

      &::after {
        content: "";
        width: 64px;
        height: 2px;
        background: white;
        position: absolute;
        top: 50%;
        left: -64px;
      }
    }

    &__analysis {
      @include img-size(226, 60);
      margin-top: 148px;
    }

    &__demonstration {
      @include img-size(208, 60);
      margin-top: 235px;
      padding: 7px 0 0 20px;
    }

    &__presentation {
      @include img-size(434, 259);
      width: 433px;
      height: 259px;
      border-radius: 10px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      margin-top: 80px;
      p {
        width: 345px;
        padding: 44px 0;
        color: white;
      }

      button {
        @include img-size(294, 57);
        border-radius: 28px;
        filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.32));
        background-image: linear-gradient(90deg, #836733 0%, #c29b5d 100%);
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
    }
  }

  &__registration {
    @include img-size(579, 708);
    background-color: rgba(0, 59, 105, 0.73);
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &__header {
      @include img-size(433, 129);
      border-radius: 10px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      color: white;
      flex-direction: column;
      margin-top: 72px;
    }

    &__arrow-block {
      display: flex;
      margin-left: 84px;

      .short-arrow {
        margin: 150px -13px 0 -1px;
      }

      .long-arrow {
        margin: 242px 0 0 -5px;
      }

      .text {
        border-radius: 5px;
        background-color: #ffffff;
        filter: none;
      }

      .business-offer {
        @include img-size(207, 60);
        padding: 7px 0 0 24px;
        margin: 122px 0 0 28px;
      }

      .contract {
        @include img-size(285, 60);
        margin-top: 208px;
      }
    }
  }

  &__cooperation {
    @include img-size(466, 708);
    background-image: linear-gradient(
      180deg,
      rgba(131, 103, 51, 0.82) 0%,
      rgba(194, 155, 93, 0.82) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 32px;

    &__header {
      @include img-size(406, 129);
      border-radius: 10px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      color: white;
      flex-direction: column;
      margin-top: 72px;
    }

    &__arrow-block {
      display: flex;

      .short-arrow {
        margin: 330px -14px 0 -27px;
      }

      .introduction {
        @include img-size(161, 60);
        margin: 300px 0 0 62px;
      }

      .support {
        @include img-size(276, 60);
        padding: 7px 0 0 20px;
        margin-top: 390px;
        border-radius: 5px 0 0 5px;
      }
    }
  }
}

.faq {
  width: 1140px;
  @include section-pos(407.5%, 369.2%);
  background-color: #f2ede7;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    font-size: 18px;

    h3 {
      width: 150px;
      height: 60px;
      border-radius: 0 5px 5px 0;
      background-image: linear-gradient(-90deg, #000f28 0%, #002142 100%);
      color: white;
      font-size: 30px;
    }
    &__tabs {
      display: flex;
      justify-content: space-evenly;
      flex-basis: 600px;
      height: 50px;

      .tab {
        &--chosen {
          width: 182px;
          height: 50px;
          border-radius: 25px;
          background-image: linear-gradient(90deg, #836733 0%, #c29b5d 100%);
          color: white;
        }
      }
    }

    .vr {
      width: 226px;
      height: 50px;
      border-radius: 25px;
      background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
      margin-right: 52px;
      color: white;
    }
  }

  &__show-more {
    display: flex;
    align-items: center;
    width: 262px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(0deg, #000f28 0%, #003b69 100%);
    color: white;
    margin: 30px auto;
    font-size: 18px;

    &__icon {
      @include img-size(34, 34);
      background: img-url("faq", "show-more-icon");
      margin: 0 20px 0 6px;
    }
  }
}

.form {
  &__wrap {
    @include img-size(1140, 737);
    display: flex;
    padding-top: 103px;
    padding-left: 146px;
    background: img-url("form", "bg");
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #000000;

    a {
      color: #000000;
      line-height: 36px;
    }

    &__title {
      display: none;
    }
  }

  &__content {
    width: 402px;
    height: 486px;
    padding: 46px 42px 42px;
    border-radius: 5px;
    background: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 12px rgba(102,102,102,0.35));
  }

  &__point {
    padding-top: 54px;

    &_mobile {
      display: none;
    }
  }

  &__title {
    margin-top: 28px;
    font-size: 24px;
  }

  &__mail {
    margin-top: 28px;
    border-bottom: 1px dashed #666666;
    line-height: 18px;
  }

  &__text {
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 33px;

    span {
      display: block;
    }
  }

  &__btn {
    padding: 16px 74px;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #ffffff;
    background: linear-gradient(
      90deg,
      rgba(132, 104, 52, 1) 0%,
      rgba(193, 154, 92, 1) 100%
    );
    border-radius: 50px;
    box-shadow: 0px 0px 10px 7px rgba(218, 218, 218, 0.32);
  }
}

@media (max-width: 320px) {
  .offer,
  .how,
  .result,
  .functions,
  .pros,
  .scheme,
  .faq {
    position: relative;
    left: 0;
    width: 100%;
  }

  .offer {
    height: auto;

    .menu {
      &__icon {
        height: 16px;
      }
    }

    &__header {
      align-items: center;
      padding: 3% 4% 0 4%;
    }

    &__title,
    &__title span {
      font-size: 18px;
    }

    &__head {
      img {
        @include mobile-img(60, 40);
      }
    }
    .arrow__block {
      font-size: 12px;
      flex-direction: column;
      justify-content: space-around;
      height: 370px;

      .arrow {
        display: none;
      }

      .analyse,
      .based,
      .make {
        padding: 8px;
        margin-top: 0;
      }

      .analyse {
        @include mobile-img(75, 70);
        border-radius: 0 10px 10px 0;
      }

      .based {
        @include mobile-img(57, 70);
        margin-left: auto;
        border-radius: 10px 0 0 10px;
      }

      .make {
        @include mobile-img(59, 70);
        border-radius: 0 10px 10px 0;
      }
    }
  }

  

 .form {

  &__content {
    padding:20px 5px;
    font-size: 16px;
    width: 96%;
    height: auto;
  }

  &__title {
    font-size: 18px;
  }

  &__mail {
    margin-top: 18px;
  }

  &__text {
    margin: 18px 0;
  }

  &__btn {
    font-size: 16px;
  }
 }
}

@media (max-width: 640px) {

  .offer,
  .how,
  .result,
  .functions,
  .pros,
  .scheme,
  .faq {
    position: relative;
    left: 0;
    width: 100%;
  }

  .faq {
    padding-top: 40px;

    &__header {
      margin-top: 0;
      flex-wrap: wrap;

      & .vr {
        margin-right: 30px;
      }

      &__tabs {
        margin-top: 40px;
      }
    }

    &__show-more {
      margin: 48px auto;
    }
  }

  .form {

    &__wrap {
      padding: 54px 0 0 0;
      flex-direction: column;
      background-position: top;
      min-width: auto;
      max-height: 958px;
      min-height: 958px;
      align-items: center;
      background: img-url("form","bgmobile" );
      
      &__title {
        display: block;
        font-size: 30px;
        color: #fff;
        line-height: 36px;
        letter-spacing: 0.25px;
        margin: 0 auto;
        margin-bottom: 84px;
      }
    }

    &__point {
      display: none;

      &_mobile {
        display: block;
        margin-right: 83px;
        margin-bottom: -36px;
      }
    }
  }
}

@media (max-width: 500px) {

  .faq {

    &__header {

      h3 {
        margin-bottom: 40px;
      }
      &__tabs {
        // flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-bottom: 40px;

        .tab {
          margin-top: 10px;
          width: 30%;
        }

        .tab--chosen {
          width: 150px;
          font-size: 16px;
        }
      }

      .vr {
        font-size: 16px;
        margin-right: 0;
        margin-left: 5px;
      }
    }

    &__show-more {
      font-size: 16px;
      width: 230px;
    }
  }
}
