/* line 1, scss/accodion.scss */
.js-Accordion {
  margin: 0 auto;
  width: 60%; }
  /* line 5, scss/accodion.scss */
  .js-Accordion-title {
    background: transparent;
    border-top: 0;
    cursor: pointer;
    display: block;
    padding: 34px 0 22px 0;
    width: 100%;
    font-size: 24px;
    line-height: 30px; }
  /* line 21, scss/accodion.scss */
  .js-Accordion-content {
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    border-top: 0;
    height: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.25s linear; }
  /* line 33, scss/accodion.scss */
  .js-Accordion button {
    display: flex;
    justify-content: space-between; }
    /* line 37, scss/accodion.scss */
    .js-Accordion button img {
      padding-top: 15px; }
