/* line 1, scss/accodion.scss */
.js-Accordion {
  margin: 0 auto;
  width: 60%; }
  /* line 5, scss/accodion.scss */
  .js-Accordion-title {
    background: transparent;
    border-top: 0;
    cursor: pointer;
    display: block;
    padding: 34px 0 22px 0;
    width: 100%;
    font-size: 24px;
    line-height: 30px; }
  /* line 21, scss/accodion.scss */
  .js-Accordion-content {
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    border-top: 0;
    height: 0;
    color: #363636;
    overflow: hidden;
    transition: all 0.25s linear; }
  /* line 32, scss/accodion.scss */
  .js-Accordion button {
    display: flex;
    justify-content: space-between; }
    /* line 36, scss/accodion.scss */
    .js-Accordion button img {
      padding-top: 15px;
      padding-left: 5px; }

@media (max-width: 640px) {
  /* line 45, scss/accodion.scss */
  .js-Accordion {
    width: 90%; }
    /* line 48, scss/accodion.scss */
    .js-Accordion-title {
      text-align: left;
      padding-left: 25px; }
    /* line 53, scss/accodion.scss */
    .js-Accordion-content {
      padding-left: 45px; }
      /* line 56, scss/accodion.scss */
      .js-Accordion-content p {
        margin-bottom: 16px; } }

@media (max-width: 500px) {
  /* line 66, scss/accodion.scss */
  .js-Accordion-title {
    font-size: 18px; }
  /* line 70, scss/accodion.scss */
  .js-Accordion-content {
    font-size: 16px; } }
