@import url(../fonts/stylesheet.css);
/* line 6, scss/style.scss */
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0; }

/* line 12, scss/style.scss */
div,
p,
form,
input,
a,
span,
button {
  box-sizing: border-box; }

/* line 22, scss/style.scss */
p {
  margin: 0; }

/* line 26, scss/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: bold; }

/* line 37, scss/style.scss */
h2 {
  font-size: 36px; }

/* line 40, scss/style.scss */
a,
a:hover,
a:active {
  text-decoration: none; }

/* line 46, scss/style.scss */
input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
  border: 0; }

/* line 58, scss/style.scss */
button {
  cursor: pointer; }

/* line 62, scss/style.scss */
.text-white {
  color: #dfe5eb; }

/* line 66, scss/style.scss */
.text-uppercase {
  text-transform: uppercase; }

/* line 70, scss/style.scss */
.bold {
  font-weight: bold; }

/* line 74, scss/style.scss */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* First Screen */
/* line 81, scss/style.scss */
.offer {
  margin: 0 auto;
  width: 1140px;
  height: 700px;
  background: url("../../img/first-screen/bg.png") no-repeat top/cover;
  font-size: 14px; }
  /* line 88, scss/style.scss */
  .offer__header {
    display: flex;
    padding: 22px 27px 0;
    justify-content: space-between; }
    /* line 93, scss/style.scss */
    .offer__header img {
      height: 29px; }
  /* line 98, scss/style.scss */
  .offer__link {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;
    padding-left: 30px; }
    /* line 105, scss/style.scss */
    .offer__link a {
      font-weight: bold;
      font-size: 20px;
      line-height: 18px;
      letter-spacing: 0.25px;
      color: #000000; }
  /* line 114, scss/style.scss */
  .offer__phone {
    margin-left: 20px; }
  /* line 118, scss/style.scss */
  .offer__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px; }
  /* line 125, scss/style.scss */
  .offer__title {
    margin-top: 24px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center; }
    /* line 133, scss/style.scss */
    .offer__title span {
      display: block;
      font-weight: normal;
      font-size: 30px; }
  /* line 139, scss/style.scss */
  .offer .arrow__block {
    display: flex;
    margin-top: 45px; }
    /* line 143, scss/style.scss */
    .offer .arrow__block .analyse {
      width: 346px;
      height: 90px;
      background: url("../../img/first-screen/analyse-bg.png") no-repeat center;
      padding: 30px 25px; }
    /* line 150, scss/style.scss */
    .offer .arrow__block .based {
      width: 331px;
      height: 90px;
      background: url("../../img/first-screen/based-bg.png") no-repeat center;
      padding: 30px 25px;
      margin-top: 120px; }
    /* line 158, scss/style.scss */
    .offer .arrow__block .make {
      width: 346px;
      height: 90px;
      background: url("../../img/first-screen/make-bg.png") no-repeat center;
      padding: 30px 25px;
      margin-top: 240px; }
    /* line 166, scss/style.scss */
    .offer .arrow__block .arrow {
      width: 72px;
      height: 147px;
      margin: 0 -6px 0 -8px; }
      /* line 171, scss/style.scss */
      .offer .arrow__block .arrow__first {
        margin-top: 35px; }
      /* line 175, scss/style.scss */
      .offer .arrow__block .arrow__second {
        margin-top: 155px; }
  /* line 180, scss/style.scss */
  .offer .order {
    align-items: flex-start;
    flex-direction: column;
    width: 302px;
    height: 71px;
    background: url("../../img/first-screen/order-bg.png") no-repeat center;
    padding: 22px 30px; }
    /* line 188, scss/style.scss */
    .offer .order span {
      display: block;
      font-weight: bold; }

/* line 195, scss/style.scss */
.how {
  margin: 0 auto;
  width: 1140px;
  height: 700px;
  background: url("../../img/how/bg.png") no-repeat top/cover;
  position: relative; }
  /* line 202, scss/style.scss */
  .how h2 {
    font-size: 36px;
    position: absolute;
    top: 86px;
    right: 69px; }
  /* line 209, scss/style.scss */
  .how__arrow-block {
    padding-top: 55px;
    display: flex; }
    /* line 213, scss/style.scss */
    .how__arrow-block h4 {
      flex-basis: 110px; }
      /* line 216, scss/style.scss */
      .how__arrow-block h4 span {
        text-align: center;
        border-bottom: 4px solid white;
        font-size: 24px;
        line-height: 190%;
        color: white; }
    /* line 225, scss/style.scss */
    .how__arrow-block p {
      display: flex;
      align-items: center; }
    /* line 230, scss/style.scss */
    .how__arrow-block .arrow {
      width: 41px;
      height: 109px; }
      /* line 234, scss/style.scss */
      .how__arrow-block .arrow__first {
        margin-top: 60px;
        margin-left: -11px;
        margin-right: -36px; }
      /* line 240, scss/style.scss */
      .how__arrow-block .arrow__second {
        margin-top: 220px;
        margin-left: -14px;
        margin-right: -39px; }
    /* line 247, scss/style.scss */
    .how__arrow-block__analyse {
      min-width: 386px;
      min-height: 340px;
      max-width: 386px;
      max-height: 340px;
      background: url("../../img/how/analyse-bg.png") no-repeat center/cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -11px; }
      /* line 258, scss/style.scss */
      .how__arrow-block__analyse p {
        font-size: 18px;
        padding: 0 90px 0 68px;
        flex-basis: 128px; }
      /* line 264, scss/style.scss */
      .how__arrow-block__analyse button {
        width: 283px;
        height: 84px;
        background: url("../../img/how/analyse-button.png") no-repeat center/cover;
        font-size: 18px;
        font-weight: bold;
        color: white; }
    /* line 274, scss/style.scss */
    .how__arrow-block__decide {
      min-width: 366px;
      min-height: 271px;
      max-width: 366px;
      max-height: 271px;
      background: url("../../img/how/decide-bg.png") no-repeat center/cover;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 144px; }
      /* line 286, scss/style.scss */
      .how__arrow-block__decide h4 {
        width: 124px; }
      /* line 290, scss/style.scss */
      .how__arrow-block__decide .warn {
        padding-left: 48px; }
      /* line 294, scss/style.scss */
      .how__arrow-block__decide > p {
        font-size: 18px;
        padding: 0 42px 0 48px;
        flex-basis: 94px; }
      /* line 300, scss/style.scss */
      .how__arrow-block__decide p:last-child {
        font-size: 12px;
        margin-left: 16px;
        padding-right: 48px; }
    /* line 307, scss/style.scss */
    .how__arrow-block__introduction {
      min-width: 439px;
      min-height: 266px;
      max-width: 439px;
      max-height: 266px;
      background: url("../../img/how/introduction-bg.png") no-repeat center/cover;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 306px; }
      /* line 319, scss/style.scss */
      .how__arrow-block__introduction p {
        font-size: 18px;
        padding: 0px 55px 0 75px;
        flex-basis: 128px; }

/* line 328, scss/style.scss */
.result {
  margin: 0 auto;
  width: 1140px;
  height: 700px;
  background: url("../../img/result/bg.png") no-repeat top/cover; }
  /* line 334, scss/style.scss */
  .result h2 {
    padding-top: 36px;
    text-align: center; }
  /* line 339, scss/style.scss */
  .result__content {
    display: flex;
    justify-content: flex-end; }
    /* line 343, scss/style.scss */
    .result__content p {
      font-size: 18px; }
    /* line 347, scss/style.scss */
    .result__content__triangles {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 510px;
      justify-content: flex-end;
      font-size: 12px;
      font-weight: bold; }
      /* line 356, scss/style.scss */
      .result__content__triangles__rus {
        width: 266px;
        height: 96px;
        background: url("../../img/result/rus.png") no-repeat center/cover;
        margin-bottom: 33px;
        padding: 34px 0 0 54px; }
      /* line 364, scss/style.scss */
      .result__content__triangles__ekg {
        width: 190px;
        height: 83px;
        background: url("../../img/result/ekg.png") no-repeat center/cover;
        margin-left: 10px;
        padding: 23px 0 0 45px; }
    /* line 373, scss/style.scss */
    .result__content__rhombus {
      width: 407px;
      height: 471px;
      margin-left: -30px;
      margin-right: -33px;
      background: url("../../img/result/rhombus.png") no-repeat center/cover;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold; }
      /* line 385, scss/style.scss */
      .result__content__rhombus .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 220px; }
        /* line 392, scss/style.scss */
        .result__content__rhombus .price span {
          font-size: 12px;
          font-weight: normal; }
      /* line 398, scss/style.scss */
      .result__content__rhombus p:last-child {
        flex-basis: 110px;
        display: flex;
        align-items: center; }
    /* line 405, scss/style.scss */
    .result__content__description {
      width: 400px; }
      /* line 408, scss/style.scss */
      .result__content__description p {
        font-size: 14px;
        color: white;
        width: 413px;
        padding-right: 76px;
        margin-bottom: 16px; }
      /* line 416, scss/style.scss */
      .result__content__description .marked {
        width: 414px;
        padding-right: 176px;
        padding-left: 38px;
        position: relative; }
        /* line 422, scss/style.scss */
        .result__content__description .marked::before {
          content: "";
          background: url("../../img/result/point.png") no-repeat center;
          width: 10px;
          height: 10px;
          position: absolute;
          left: 14px;
          top: 5px; }

/* line 436, scss/style.scss */
.functions {
  margin: 0 auto;
  width: 1140px;
  background: url("../../img/functions/bg.png") no-repeat top/cover;
  display: flex; }
  /* line 442, scss/style.scss */
  .functions h2 {
    font-size: 36px;
    padding: 45px 0 0 92px; }
  /* line 447, scss/style.scss */
  .functions .title {
    font-size: 24px; }
  /* line 451, scss/style.scss */
  .functions__problems {
    min-width: 648px;
    max-width: 648px;
    min-height: 650px;
    max-height: 650px;
    background: url("../../img/functions/problems.png") no-repeat center/cover;
    margin-right: -76px;
    margin-top: -8px; }
    /* line 460, scss/style.scss */
    .functions__problems__category {
      width: 282px;
      height: 62px;
      background: url("../../img/functions/category.png") no-repeat center/cover;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 0 0 29px;
      margin: 39px 0 32px 60px; }
      /* line 468, scss/style.scss */
      .functions__problems__category span {
        display: block; }
    /* line 473, scss/style.scss */
    .functions__problems__description {
      padding: 0 157px 0 90px; }
      /* line 476, scss/style.scss */
      .functions__problems__description .title {
        padding-top: 24px;
        margin-bottom: 32px; }
      /* line 481, scss/style.scss */
      .functions__problems__description p {
        margin-bottom: 24px; }
      /* line 485, scss/style.scss */
      .functions__problems__description p:last-child {
        margin-bottom: 0;
        font-weight: bold; }
  /* line 492, scss/style.scss */
  .functions__decisions {
    padding-top: 84px; }
    /* line 495, scss/style.scss */
    .functions__decisions h5 {
      color: #666;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 28px;
      padding-left: 8px; }
    /* line 503, scss/style.scss */
    .functions__decisions__choose {
      display: flex;
      font-size: 14px;
      padding-right: 28px;
      margin-bottom: 48px;
      padding-left: 8px; }
    /* line 511, scss/style.scss */
    .functions__decisions__text {
      min-width: 555px;
      max-width: 555px;
      min-height: 631px;
      max-height: 631px;
      background: url("../../img/functions/decisions.png") no-repeat center/cover;
      display: flex;
      align-items: center;
      flex-direction: column; }
      /* line 521, scss/style.scss */
      .functions__decisions__text h4 {
        margin: 32px 0 48px; }
      /* line 525, scss/style.scss */
      .functions__decisions__text p {
        width: 100%;
        padding: 0 40px 24px; }
      /* line 530, scss/style.scss */
      .functions__decisions__text--more {
        width: 503px;
        height: 115px;
        background: url("../../img/functions/more-bg.png") no-repeat center/cover; }
        /* line 535, scss/style.scss */
        .functions__decisions__text--more button {
          width: 403px;
          height: 84px;
          background: url("../../img/functions/more.png") no-repeat center/cover;
          font-size: 14px; }
          /* line 541, scss/style.scss */
          .functions__decisions__text--more button span {
            display: block;
            font-weight: bold;
            font-size: 18px; }

/* line 552, scss/style.scss */
.pros {
  margin: 0 auto;
  width: 1140px;
  height: 700px;
  background: url("../../img/pros/bg.png") no-repeat top/cover; }
  /* line 558, scss/style.scss */
  .pros h2 {
    width: 541px;
    height: 112px;
    background: url("../../img/pros/header.png") no-repeat center/cover;
    padding-right: 32px;
    margin-left: auto; }
